<template name="AuthorDashboard">
    {{> pageHeading title='Authors' }}

    <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding-bottom:0;">
        <!-- FLOTCHART 2 -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Evolution of Consumer Satisfaction Index</h4>
                    <p>Subheader paragraph</p>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart-2"></div>
                            </div>
                        </div>
                        <!-- SENTIMENT PROGRESS BARS -->
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">2,346</h2>
                                    <small>Positive Sentiment</small>
                                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>Neutral Sentiment</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;background-color: grey;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2>
                                    <small>Negative Sentiment</small>
                                    <div class="stat-percent">22% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header" style="padding-bottom:0;">
        <!-- DATA TABLE -->
        <div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>List of Authors</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-container">
                                    <thead>
                                    <tr>
                                        <th>User Handle</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Frequency</th>
                                        <th>Avg-Sentiment</th>
                                        <th>OTS</th>
                                        <th>Source</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- BODY -->
                                    {{#each authorsList }}
                                        {{> Author }}
                                    {{/each}}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>User Handle</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Frequency</th>
                                        <th>Avg-Sentiment</th>
                                        <th>OTS</th>
                                        <th>Source</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight blog" style="padding-top:0;">
        <!-- INFLUENCER POSTS -->
        <div class="row">
            {{#if ifNotEmptyPosts}}
                <div class="col-lg-12">
                    <h2>Author Posts</h2>
                    <hr>
                </div>

                {{#if ifReadMode}}
                    <div class="col-sm-6" style="max-height: 735px;overflow-y: auto;">
                        {{#each authorPosts}}
                            {{> AuthorPostListItem}}
                        {{/each}}
                    </div>
                    <div class="col-sm-6">
                        {{#with selectedAuthorPost }}
                            {{> AuthorPostArticleItem}}
                        {{/with}}
                    </div>
                {{else}}
                    {{#each authorPosts}}
                        {{> AuthorPostListItem}}
                    {{/each}}
                {{/if}}

            {{/if}}
        </div>
    </div>
</template>

<template name="Author">
    <tr class="author-container" data-id="{{_id}}">
        <td>{{userHandle}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
        <td>{{frequency}}</td>
        <td>{{sentiment}}</td>
        <td>{{ots}}</td>
        <td>{{source}}</td>
    </tr>

</template>

<template name="AuthorPostListItem">
    <div class="{{class}} author-post">
        <div class="ibox">
            <div class="ibox-content" style="height:{{height}};overflow:hidden;padding-bottom:5px;">
                <a class="btn-link">
                    <h2>{{sliceText title 50}}</h2>
                </a>
                <div class="small m-b-xs">
                    <strong>{{author}}</strong>
                    <span class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        {{formatDate date}}
                    </span>
                </div>
                <p>
                    {{sliceText body 200}}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <!--<h5>Tags:</h5>-->
                        <!--<button class="btn btn-primary btn-xs" type="button">Model</button>-->
                        <!--<button class="btn btn-white btn-xs" type="button">Publishing</button>-->
                    </div>
                    <div class="col-md-6">
                        <!--<div class="small text-right">-->
                            <!--<h5>Stats:</h5>-->
                            <!--<div><i class="fa fa-comments-o"> </i> 56 comments</div>-->
                            <!--<i class="fa fa-eye"> </i> 144 views-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AuthorPostArticleItem">
    <div class="col-xs-12 author-post-article">
        <div class="ibox">
            <div class="ibox-content" >
                <a class="btn-link">
                    <h2>{{title}}</h2>
                </a>
                <div class="small m-b-xs">
                    <strong>{{author}}</strong>
                    <span class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        {{formatDate date}}
                    </span>
                </div>
                <p>
                    {{body}}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <!--<h5>Tags:</h5>-->
                        <!--<button class="btn btn-primary btn-xs" type="button">Model</button>-->
                        <!--<button class="btn btn-white btn-xs" type="button">Publishing</button>-->
                    </div>
                    <div class="col-md-6">
                        <!--<div class="small text-right">-->
                        <!--<h5>Stats:</h5>-->
                        <!--<div><i class="fa fa-comments-o"> </i> 56 comments</div>-->
                        <!--<i class="fa fa-eye"> </i> 144 views-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>