<template name="SocialMediaDashboard">
    {{> pageHeading title='Social Media' }}

    <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding-bottom:0;">
        <!-- FLOTCHART 2 -->
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Evolution of Consumer Satisfaction Index</h4>
                    <p>Subheader paragraph</p>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <!-- FLOT CHART -->
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart-2"></div>
                            </div>
                        </div>
                        <!-- SENTIMENT PROGRESS BARS -->
                        <div class="col-lg-2">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">2,346</h2>
                                    <small>Positive Sentiment</small>
                                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>Neutral Sentiment</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;background-color: grey;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2>
                                    <small>Negative Sentiment</small>
                                    <div class="stat-percent">22% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Proportion of Media Outlets</h4>
                    <p></p>
                </div>
                <!-- PIE CHART -->
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div id="pie"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Most Frequent Keywords</h4>
                    <p></p>
                </div>
                <!-- WORDCLOUD -->
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="wordcloud-1" style="width:100%;height:500px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding: 0 0 100px;">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Live Feeds</h5>
                </div>
                <!-- FEEDS -->
                <div class="ibox-content">
                    <div class="col-md-3">
                        {{#each feeds }}
                            {{> Feed }}
                        {{/each}}
                    </div>

                    <div class="col-md-9" style="max-height:500px;overflow-y:auto;">
                        {{#if ifExistsPosts}}
                            {{#each feedPosts }}
                                {{> FeedPost }}
                            {{/each}}
                        {{else}}
                            <div style="width:100%;height:250px;background-image:url('/patterns/header-profile-skin-2.png')"></div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

