<template name="ExecutiveSummaryWidget">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-md-8">
            <!-- FLOT CHART 1 -->
            <div class="col-md-12">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart-1"></div>
                    </div>
                </div>
            </div>

            <!-- SENTIMENT STACKED BAR -->
            <div class="col-md-12">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="">
                        <div id="ct-chart3" class="ct-perfect-fourth" style="height:200px;overflow: hidden;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- DOUGHNUT CHARTS -->
            <div class="col-md-12">
                <div class="statistic-box">
                    <h4>Proportions of References</h4>
                    <p></p>
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <canvas id="doughnutChart1" width="130" height="140"></canvas>
                            <h5>Social Media</h5>
                        </div>
                        <div class="col-lg-6">
                            <canvas id="doughnutChart2" width="130" height="140"></canvas>
                            <h5>Forums</h5>
                        </div>
                        <div class="col-lg-6">
                            <canvas id="doughnutChart3" width="130" height="140"></canvas>
                            <h5>Other Media</h5>
                        </div>
                        <div class="col-lg-6">
                            <canvas id="doughnutChart4" width="130" height="140"></canvas>
                            <h5>Other Media</h5>
                        </div>
                    </div>
                    <div class="m-t">
                        <small></small>
                    </div>
                </div>
            </div>
            <!-- SENTIMENT PERCENT -->
            <div class="col-md-12">
                {{#with sentStat }}
                    <ul class="stat-list">
                        <li>
                            <h3 class="no-margins">{{positive.count}}</h3>
                            <small>Positive Sentiment</small>
                            <div class="stat-percent">{{positive.percent}}%</div>
                            <div class="progress progress-mini">
                                <div style="width:{{positive.percent}}%;background-color:#D70206" class="progress-bar"></div>
                            </div>
                        </li>
                        <li>
                            <h3 class="no-margins ">{{neutral.count}}</h3>
                            <small>Neutral Sentiment</small>
                            <div class="stat-percent">{{neutral.percent}}%</div>
                            <div class="progress progress-mini">
                                <div style="width: {{neutral.percent}}%;background-color: #F05B4F;" class="progress-bar"></div>
                            </div>
                        </li>
                        <li>
                            <h3 class="no-margins ">{{negative.count}}</h3>
                            <small>Negative Sentiment</small>
                            <div class="stat-percent">{{negative.percent}}%</div>
                            <div class="progress progress-mini">
                                <div style="width: {{negative.percent}}%;background-color:#F4C63D;" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </li>
                    </ul>
                {{/with}}
            </div>
        </div>
    </div>
</template>