<template name="SocialMediaWidget">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-md-7">
            <!-- FLOT CHART 1 -->
            <div class="col-md-12">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart-2"></div>
                    </div>
                </div>
            </div>

            <!-- SENTIMENT STACKED BAR -->
            <div class="col-md-12">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="">
                        <div id="ct-chart4" class="ct-perfect-fourth" style="height:200px;overflow: hidden;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding: 0 0 100px;">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Live Feeds</h5>
                        </div>
                        <!-- FEEDS -->
                        <div class="ibox-content">
                            <!--<div class="col-md-3">-->
                                <!--{{#each feeds }}-->
                                    <!--{{> Feed }}-->
                                <!--{{/each}}-->
                            <!--</div>-->

                            <div class="col-md-12" style="max-height:500px;overflow-y:auto;">
                                {{#if ifExistsPosts}}
                                    {{#each feedPosts }}
                                        {{> FeedPost }}
                                    {{/each}}
                                {{else}}
                                    <div style="width:100%;height:250px;background-image:url('/patterns/header-profile-skin-2.png')"></div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<template name="Feed">
    <a class="feed-trigger" data-value="{{value}}">
        <div class="list-group-item">
            <small class="pull-right text-muted">
                <i class="fa fa-{{value}}"></i>
            </small>
            <h4>{{name}}</h4>
        </div>
    </a>
</template>

<template name="FeedPost">
    <div class="">
        <!--<div class="social-feed-box">-->
        <div class="social-avatar">
            {{#if avatar}}
                <a href="" class="pull-left">
                    <img alt="image" src="{{avatar}}">
                </a>
            {{/if}}

            <div class="media-body">
                <a href="#">
                    {{username}}
                </a>
                <small class="text-muted">{{formatDate date}}</small>
                <span class="small"><i class="fa fa-heart"></i> 15</span>
                <span class="small"><i class="fa fa-retweet"></i> 0</span>
            </div>
        </div>
        <div class="social-body">
            <p>{{body}}</p>
        </div>
    </div>
</template>