<template name="TVMediaWidget">
    <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding-bottom:0;">
        <div class="col-lg-12">
            <!-- FLOT CHART 1 -->
            <div class="col-md-6">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart-5"></div>
                    </div>
                </div>
            </div>

            <!-- SENTIMENT STACKED BAR -->
            <div class="col-md-6">
                <div class="statistic-box">
                    <h4>Evolution of References to PMI</h4>
                    <p>For the Current Month vs Previous Month</p>
                    <div class="">
                        <div id="ct-chart7" class="ct-perfect-fourth" style="height:200px;overflow: hidden;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Press Media Item</h5>
                </div>
                <!-- MEDIA TABLE -->
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-container">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Source</th>
                                <th>Author</th>
                                <th>Topic</th>
                                <th>Sentiment</th>
                                <th>date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- BODY -->
                            {{#each getPosts }}
                                {{> TVTableItem }}
                            {{/each}}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Source</th>
                                <th>Author</th>
                                <th>Topic</th>
                                <th>Sentiment</th>
                                <th>date</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="TVTableItem">
    <tr>
        <td>{{title}}</td>
        <td>{{source}}</td>
        <td>{{author}}</td>
        <td>{{topic}}</td>
        <td>{{sentiment.polarity}}</td>
        <td>{{formatDate date}}</td>
        <td></td>
    </tr>
</template>