<template name="OnePageDashboard">

    {{> pageHeading title='Executive Summary' }}
    {{> ExecutiveSummaryWidget }}

    {{> pageHeadingSmall title='Social Media' }}
    {{> SocialMediaWidget }}

    {{> pageHeadingSmall title='Press Media' }}
    {{> PressMediaWidget }}

    {{> pageHeadingSmall title='Radio Media' }}
    {{> RadioMediaWidget }}

    {{> pageHeadingSmall title='TV Media' }}
    {{> TVMediaWidget }}

    <div style="width:100%;height:100px;"></div>
</template>