<template name="home">

    {{> pageHeading title='Home' }}
    <style>
        #page-wrapper {
            background-image: url(patterns/header-profile-skin-2.png) !important;
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center" style="color:white;padding-top:5%;">
                    <h2>Welcome to the PMI Media Analysis Dashboard.</h2>
                </div>
            </div>
        </div>
    </div>
</template>
