<template name="login">

  <div class="containerlogin">
  <div class="rowlogin">
      <div class="col-md-7 col-left no-float">
        <h1 style="color: white">Pioneering the combustion-free revolution</h1>
      </div>
      <!-- <img src="/img/cube.png" alt="" style="min-height:100%; min-width:100%; height:auto; width:auto; position:absolute; top:-100%; bottom:-100%; left:-100%; right:-100%; margin:auto;"> -->
      <div class="col-md-5 col-right no-float">
        <div class="ibox-content">
          <img class="img-responsive center-block" src="/img/logo1.png" alt="" style="margin-top:100px; margin-bottom:30px; height: 100px; width: auto"/>

            <form class="m-t login-form" role="form" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required="">
                </div>
                <button type="submit" class="btn btn-success block full-width m-b">Login</button>

                <a href="#">
                    <small>Forgot password?</small>
                </a>

                {{> loginButtons }}

                <!-- <p class="text-muted text-center">
                    <small>Do not have an account?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" href="{{pathFor route='register'}}">Create an account</a> -->
            </form>
            <p class="m-t">
                <small>Philip Morris International &copy; 2016</small>
            </p>
        </div>
      </div>
  </div>
</div>
</template>
