.containerlogin
{
    height:100%;
    display:table;
    width: 100%;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rowlogin
{
    height: 100%;
    display: table-row;
}

.col-left.no-float, .col-right.no-float {
    float: none; /* thanks baxabbit */
}
.col-left
{
    display: table-cell;
    background-image:url(/img/cube.png);
}
.col-right
{
    display: table-cell;
    background: white;
  	float: none;
}

.progress-bar-positive
{
  background-color: #2ecc71;
}

/* influencer */
.influencer-post {
    cursor: pointer;
}
.influencer-post:hover > .ibox > .ibox-content {
    box-shadow: 0 0 5px #a3796b
}

/* authors */
.author-post {
    cursor: pointer;
}
.author-post:hover > .ibox > .ibox-content {
    box-shadow: 0 0 5px #a3796b
}

/* social media */

.feed-content {
    max-height: 600px;
    overflow-y: auto;
}