<template name="ExecutiveSummaryDashboard">

    {{> pageHeading title='Executive Summary' }}

    <div class="row  border-bottom white-bg dashboard-header">

        <!-- FLOT CHART 1 -->
        <div class="col-sm-6">
            <div class="statistic-box">
                <h4>Evolution of References to PMI</h4>
                <p>For the Current Month vs Previous Month</p>
                <div class="flot-chart dashboard-chart">
                    <div class="flot-chart-content" id="flot-dashboard-chart-1"></div>
                </div>
                <!--<div class="row text-left">-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class=" m-l-md">-->
                            <!--<span class="h4 font-bold m-t block">$ 406,100</span>-->
                            <!--<small class="text-muted m-b block">Sales marketing report</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4">-->
                        <!--<span class="h4 font-bold m-t block">$ 150,401</span>-->
                        <!--<small class="text-muted m-b block">Annual sales revenue</small>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4">-->
                        <!--<span class="h4 font-bold m-t block">$ 16,822</span>-->
                        <!--<small class="text-muted m-b block">Half-year revenue margin</small>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!-- DONUT CHARTS -->
        <div class="col-sm-6">
            <div class="statistic-box">
                <h4>Proportions of References</h4>
                <p></p>
                <div class="row text-center">
                    <div class="col-lg-4">
                        <canvas id="doughnutChart1" width="180" height="200"></canvas>
                        <h5>Social Media</h5>
                    </div>
                    <div class="col-lg-4">
                        <canvas id="doughnutChart2" width="180" height="200"></canvas>
                        <h5>Forums</h5>
                    </div>
                    <div class="col-lg-4">
                        <canvas id="doughnutChart3" width="180" height="200"></canvas>
                        <h5>Other Media</h5>
                    </div>
                </div>
                <div class="m-t">
                    <small></small>
                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header" style="margin-top:15px;padding-bottom:0;">
        <!-- FLOTCHART 2 -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Evolution of Consumer Satisfaction Index</h4>
                    <p></p>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart-2"></div>
                            </div>
                        </div>
                        <!-- SENTIMENT PROGRESS BARS -->
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">2,346</h2>
                                    <small>Positive Sentiment</small>
                                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>Neutral Sentiment</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;background-color: grey;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2>
                                    <small>Negative Sentiment</small>
                                    <div class="stat-percent">22% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header" style="padding-top:0;">
        <!-- FLOTCHART 3 -->
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Evolution of Reach</h4>
                    <p></p>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart-3"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- FLOTCHART 4 -->
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="statistic-box">
                    <h4>Evolution of Advertising Value Equivalent</h4>
                    <p></p>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart-4"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- VECTOR MAP -->
    <!--<div class="row wrapper wrapper-content animated fadeInRight">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="statistic-box">-->
                <!--<h4>Presence Around the World</h4>-->
                <!--<p id="vector-map-subheader"></p>-->

                <!--&lt;!&ndash; VECTOR MAP CONTAINER &ndash;&gt;-->
                <!--<div id="strategicchangecontrol-map-container" class="col-lg-12"-->
                     <!--style="-webkit-transition: width 0.3s ease, margin 0.3s ease; -moz-transition: width 0.3s ease, margin 0.3s ease; -o-transition: width 0.3s ease, margin 0.3s ease; transition: width 0.3s ease, margin 0.3s ease;">-->
                    <!--<div class="ibox float-e-margins">-->
                        <!--<div class="ibox-content" style="height: 600px">-->
                            <!--<div id="vmap_changecontrol" style="width: 100%; height: 100%;"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; VECTOR MAP DETAIL CONTAINER &ndash;&gt;-->
                <!--<div id="strategicchangecontrol-detail-container" class="col-lg-3"-->
                     <!--style="display: None; -webkit-transition: width 0.3s ease, margin 0.3s ease; -moz-transition: width 0.3s ease, margin 0.3s ease; -o-transition: width 0.3s ease, margin 0.3s ease; transition: width 0.3s ease, margin 0.3s ease;">-->

                    <!--<div class="ibox float-e-margins">-->
                        <!--<div class="ibox-title">-->
                            <!--<h2 id="selected-country-name">Country</h2>-->
                            <!--<span id="selected-country-phase" class="label label-success pull-right"-->
                                  <!--style=""></span>-->
                            <!--<br>-->
                        <!--</div>-->
                        <!--<div class="ibox-content no-padding">-->

                            <!--<ul class="list-group">-->
                                <!--<li class="list-group-item">-->
                                    <!--<h3>Volume</h3>-->
                                    <!--<h1 id="selected-country-volume" class="no-margins"></h1>-->
                                    <!--<div id="selected-country-objective" class="stat-percent font-bold"><i-->
                                            <!--class="fa fa-bolt"></i></div>-->
                                    <!--<small>units</small>-->
                                <!--</li>-->
                                <!--<li class="list-group-item">-->
                                    <!--<h3>Platforms</h3>-->
                                    <!--<canvas id="strategicchangecontrol-platform-donut" width="78" height="78"></canvas>-->
                                    <!--<div id="js-legend" class="chart-legend pull-right" style="margin-top: 5px"></div>-->
                                <!--</li>-->
                                <!--<li class="list-group-item">-->
                                    <!--<h3>Change Control</h3>-->
                                    <!--<div id="strategicchangecontrol-penetration-gauge" style="height: 78px"></div>-->
                                <!--</li>-->
                                <!--&lt;!&ndash; <li class="list-group-item ">-->
                                <!--<p><a class="text-info" href="#">@Jonathan Febrick</a> The standard chunk of Lorem Ipsum</p>-->
                                <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>-->
                              <!--</li> &ndash;&gt;-->
                            <!--</ul>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<style>-->
        <!--.chart-legend li span {-->
            <!--display: inline-block;-->
            <!--width: 12px;-->
            <!--height: 12px;-->
            <!--margin-right: 5px;-->
        <!--}-->

        <!--.chart-legend li {-->
            <!--list-style-type: none;-->
        <!--}-->
    <!--</style>-->

</template>
