<template name="navigationV1">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                          <img alt="image" class="img-circle" style="max-width:70px;"
                               src="/img/unkown_profile_funny.jpeg">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">
                                Test User
                            </strong>
                            </span> <span class="text-muted text-xs block">
                                 <b class="caret"></b>
                            </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Admin</a></li>
                            <li class="divider"></li>
                            <li><a href="/login">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        PMI
                    </div>
                </li>

                <!-- LIST NAVIGATION -->

                <!-- HOME -->
                <li class="{{isActiveRoute regex='home'}}">
                    <a href="{{pathFor route='home'}}">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>

                <!-- EXECUTIVE SUMMARY -->
                <li class="{{isActiveRoute regex='executive'}}">
                    <a href="#">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">Executive Summary</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='executive' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <!-- TODO isActiveRoute not woking -->
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='executive.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <!-- KPIS -->
                <!--<li class="{{isActiveRoute regex='kpis'}}">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-line-chart"></i>-->
                        <!--<span class="nav-label" data-i18n="nav.dashboard">KPIs</span>-->
                        <!--<span class="fa arrow"></span>-->
                    <!--</a>-->
                    <!--<ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='kpis' className='in'}}"-->
                        <!--style="max-height: 250px;overflow-y: auto;">-->
                        <!--<li><input type="text" class="form-control search-country" placeholder="Search..."></li>-->
                        <!--{{#each Countries }}-->
                            <!--&lt;!&ndash; TODO isActiveRoute not woking &ndash;&gt;-->
                            <!--<li class="item-country"-->
                                <!--data-value="{{value}}">-->
                                <!--<a href="{{pathFor route='kpi.country' country=value}}">{{name}}</a>-->
                            <!--</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                <!--</li>-->

                <!-- INFLUENCERS -->
                <li class="{{isActiveRoute regex='influencer'}}">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">Influencers</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='influencer' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <!-- TODO isActiveRoute not woking -->
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='influencer.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <!-- AUTHORS -->
                <li class="{{isActiveRoute regex='author'}}">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">Authors</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='author' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <!-- TODO isActiveRoute not woking -->
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='author.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <!-- MEDIA PERFORMANCE -->
                <li class="{{isActiveRoute regex='$media'}}">
                    <a href="#">
                        <i class="fa fa-television"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">Media Outlet</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='$media' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <!-- TODO isActiveRoute not woking -->
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='media.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <!-- SOCIAL MEDIA -->
                <li class="{{isActiveRoute regex='socialmedia'}}">
                    <a href="#">
                        <i class="fa fa-comments-o"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">Social Media</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='socialmedia' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <!-- TODO isActiveRoute not woking -->
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='socialmedia.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

            </ul>

        </div>
    </nav>
</template>
