<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                          <img alt="image" class="img-circle" style="max-width:70px;"
                               src="/img/unkown_profile_funny.jpeg">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">
                                Test User
                            </strong>
                            </span> <span class="text-muted text-xs block">
                                 <b class="caret"></b>
                            </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Admin</a></li>
                            <li class="divider"></li>
                            <li><a href="/login">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        PMI
                    </div>
                </li>

                <!-- LIST NAVIGATION -->

                <li class="active">
                    <ul class="nav nav-second-level collapse list-country {{isActiveRoute regex='executive' className='in'}}"
                        style="max-height: 250px;overflow-y: auto;">
                        <li><input type="text" class="form-control search-country" placeholder="Search..."></li>
                        {{#each Countries }}
                            <li class="item-country"
                                data-value="{{value}}">
                                <a href="{{pathFor route='dashboard.country' country=value}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</template>
