<template name="pageHeading">

    <div class="row wrapper border-bottom white-bg page-heading">
        <img src="/img/logo1.png" alt="" style="float:left ; margin-top:15px; margin-right:15px; height: 75px; width: auto"/>
        <div>
            <h2>{{title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{pathFor route=home}}">Home</a>
                </li>
                {{#if category}}
                <li>
                    <a>{{category}}</a>
                </li>
                {{/if}}
                <li class="active">
                    <strong>{{title}}</strong>
                </li>
            </ol>
        </div>

        {{#if ifExistsCountries}}
            <div class="pull-right" style="margin-right:28px;">
                <h3>Countries</h3>
                {{#each countries }}
                    <span>{{this}}</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>


<template name="pageHeadingSmall">

    <div class="row wrapper border-bottom white-bg page-heading" style="border-top: 30px solid grey;margin-top:20px;">
        <div>
            <div style="padding-left:100px;">
                <h2 style="font-weight:bold;">{{title}}</h2>
            </div>
        </div>

    </div>
</template>