<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="width:50%;">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" action="search_results">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <!--<li>-->
                    <!--{{> loginButtons }}-->
                <!--</li>-->
                <li>
                    <a href="{{pathFor route='logout'}}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>
